name: release-ghcr

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_API: ghcr.io/${{ github.repository_owner }}/kube-portable-fastapi-api
  IMAGE_WORKER: ghcr.io/${{ github.repository_owner }}/kube-portable-fastapi-worker

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag
        id: vars
        run: |
          echo "TAG=${GITHUB_REF_NAME}" >> "$GITHUB_OUTPUT"

      - name: Build & push API image
        uses: docker/build-push-action@v6
        with:
          context: ./app/api
          push: true
          tags: |
            ${{ env.IMAGE_API }}:${{ steps.vars.outputs.TAG }}
            ${{ env.IMAGE_API }}:latest

      - name: Build & push Worker image
        uses: docker/build-push-action@v6
        with:
          context: ./app/worker
          push: true
          tags: |
            ${{ env.IMAGE_WORKER }}:${{ steps.vars.outputs.TAG }}
            ${{ env.IMAGE_WORKER }}:latest